body{
    background-color: rgb(34, 34, 34);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 0%;

}
section{
    padding: 2%;
}



.capa{
    height: 80vh;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(131,0,0,1) 57%, rgba(194,0,0,1) 100%);
    text-align: center;
    color: white;
}
.senai img{
    width: 200px;
}
h1{
    font-size: 90px;
    text-transform: uppercase;
}



.aluno{
    height: 80vh;
    background-color:rgba(131,0,0,1);
    color:white;
    display: flex;
    align-items: center;
    gap: 120px;
}
.sobremim{
    text-align:end;
}
.imagiligia img{
    width: 500px;
    border-radius: 30px;
}



.portifolio{
    height: 80vh;
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.playo{
    color: white;
    height:80vh;
    background-color:rgba(131,0,0,1);
    display: flex;
    align-items: center;
    gap: 200px;
}
.logobranca img{
    width: 400px;
}



.grupos{
    height: 80vh;
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(131,0,0,1) 57%, rgba(194,0,0,1) 100%);
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.logos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;
}
.logo img{
    width: 200px;
}
